<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422119433890-5t8v5okpbnq9si2dougeg09ujib45ai6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422119433890-5t8v5okpbnq9si2dougeg09ujib45ai6</string>
	<key>API_KEY</key>
	<string>AIzaSyBjyHbxtYKcaWkQdy2ConrEtKi4MYSPUsg</string>
	<key>GCM_SENDER_ID</key>
	<string>422119433890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>mychatapp-11d7e</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatapp-11d7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422119433890:ios:87d55c014368a8d256d9fb</string>
</dict>
</plist>